.button_hover {
	color:red;
	cursor:pointer;
}
div.ex, div#addbutton {
	padding:15;
	margin:15;
	width:300;
	background:lightblue;
	border-radius:15;
}
input#worksheet_name {
	width:400;
}
input {
	margin:5;
	padding:10;
}
select {
	margin:5;
}
body {
	margin:15;
}
