<html>
	<head>
		<script src="javascripts/jquery-1.10.2.js"></script>
		<script>
			$(document).ready(function(){

				//store first set of exercise param inputs for cloning
				$ex = $("#ex_select_prototype").contents();

				//counter for number of exercises added
				$ex_num = 1;

				$("#addbutton").hover(function() {
					$(this).toggleClass("button_hover");
				});

				update_ex_select_listeners();

				$("#addbutton").click(function() {
					//make a new set of exercise param inputs based on first one
					$("form").children(".ex").last().after($ex.clone());

					//increment exercise number and update displayed text
					$ex_num = $ex_num + 1;
					$txt = "Select Exercise " + $ex_num + " Type"
					$("form").children(".ex").last().children().children().children().first().text($txt)

					//update form input ids
					$name = "ex_" + $ex_num + "_type"
					$("form").children(".ex").last().children().children().first().attr("name", $name)

					$name = "ex_" + $ex_num + "_items"
					$("form").children(".ex").last().children().children().last().attr("name", $name)

					update_ex_select_listeners();

				});
			});

			function update_ex_select_listeners() {
				//add exercise-specific options when exercise type is selected
				$(".ex_type_select").off("change"); //avoid accumulating duplicate listeners
				$(".ex_type_select").on("change", function() { 
					$type = $(this).children(":selected").text();
					$(this).parent().siblings(":last").after($type + "<br>");
				});
			}
		</script>
		<style>
			.button_hover {
				color:red;
				cursor:pointer;
			}
		</style>
	</head>
	<body>
		<form id="hideme" method="POST"> 
			<div>Exam/Worksheet Name: <input type="text" name="name"> </div>
			<div id="first_ex" class="ex">
				<div class="ex">
					<div class="ex_type">
						<select name="ex_1_type" class="ex_type_select">
							<option>Select Exercise 1 Type</option> 
							<option>rhythms</option>
							<option>scales</option>
							<option>degrees</option>
						</select>
					</div>
					<div class="ex_items">
						<select name="ex_1_items">
							<% 50.times do |n| %>
								<option><%=n+1%></option>
							<% end %>
						</select>
						item(s)
					</div>
					<div class="ex_type_options">
					</div>
				</div>
			</div>
			<div id="addbutton">Add Exercise</div>
			<div>
				<input type="submit" name="Submit">
			</div>
		</form> 


		<div id="ex_select_prototype">
			<div class="ex">
				<div class="ex_type">
					<select name="ex_1_type" class="ex_type_select">
						<option>Select Exercise 1 Type</option> 
						<option>rhythms</option>
						<option>scales</option>
						<option>degrees</option>
					</select>
				</div>
				<div class="ex_items">
					<select name="ex_1_items">
						<% 50.times do |n| %>
							<option><%=n+1%></option>
						<% end %>
					</select>
					item(s)
				</div>
			</div>
		</div>


		<div id="ex_type_option_prototypes">
			<div id="rhythm_options">
				<select name="bars">
					<option>4</option>
					<option>8</option>
					<option>16</option>
				</select>
				bars
			</div>
			<div id="scale_options">
				<select name="scale">
					<% scales = [
						"major", 
						"natural minor", 
						"melodic minor", 
						"harmonic minor", 
						"minor pentatonic",
						"major pentatonic",
						"blues"
					]
					scales.each do |scale| %>
						<option><%=scale%></option>
					<% end %>
				</select>
			</div>
		</div>
	</body>
</html>
