<html>
	<head>
		<script src="javascripts/jquery-1.10.2.js"></script>
		<script src="javascripts/1310.js"></script>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
		<link href="stylesheets/default.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<h1>Music Theory Exam/Worksheet Generator</h1>
		<form class="pure-form" method="POST"> 
			<div>Title: <input id="worksheet_name" type="text" name="name"> </div>
			<div>Number of Exam Forms: 
				<select name="forms" />
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<div id="first_ex">
			</div>
			<div id="addbutton">Add new exercise</div>
			<div>
				<input type="submit" name="submit" value="Generate Lilypond and PDF">
			</div>
		</form> 


		<div id="ex_select_prototype" style="visibility:hidden">
			<div class="ex">
				<div class="ex_type">
					Exercise type:
					<select name="ex_1_type" class="ex_type_select">
						<option>select</option>
						<option>analysis-winchester</option>
						<option>intervals</option>
						<option>triads</option>
						<option>rhythms</option>
						<option>scales</option>
						<option>degrees</option>
					</select>
				</div>
				<div class="ex_items">
					Number of items: 
					<select name="ex_1_items">
						<% 50.times do |n| %>
							<option><%=n+1%></option>
						<% end %>
					</select>
				</div>
				<div class="ex_type_options default">
					<div name="ex_1_default">
					</div>
				</div>
			</div>
		</div>


		<div id="ex_type_options_prototypes" style="visibility:hidden">
			<div class="ex_type_options rhythms">
				Bars per item: 
				<select name="ex_1_bars">
					<option>4</option>
					<option>8</option>
					<option>16</option>
				</select>
			</div>
			<div class="ex_type_options scales">
				Scale type: 
				<select name="ex_1_scale">
					<% scales = [
						"major", 
						"natural minor", 
						"melodic minor", 
						"harmonic minor", 
						"minor pentatonic",
						"major pentatonic"
					]
					scales.each do |scale| %>
						<option><%=scale%></option>
					<% end %>
				</select>
			</div>
		</div>
	</body>
</html>
