<html>
	<form method="POST"> 
		Exam Name: <input type="text" name="name"> <br> 
		Exercise Type: <select name="type">
			<option>rhythms</option>
			<option>scales</option>
			<option>degrees</option>
		</select> <br>
		Number of Items: <input type="text" name="items"> <br>
		<input type="submit" name="Submit"> <br>
	</form> 
</html>
