<html>
	<head>
		<script src="javascripts/jquery-1.10.2.js"></script>
		<script>
			$(document).ready(function(){

				//store first set of exercise param inputs for cloning
				$ex = $("#ex_select_prototype").contents();

				//counter for number of exercises added
				$ex_num = 1;

				$("#addbutton").hover(function() {
					$(this).toggleClass("button_hover");
				});

				//create the first exercise select
				$("#first_ex").replaceWith($ex.clone());

				update_ex_select_listeners();

				$("#addbutton").click(function() {
					//make a new set of exercise param inputs based on first one
					$("form").children(".ex").last().after($ex.clone());

					//increment exercise number
					$ex_num = parseInt($ex_num) + 1;

					//update form input ids
					$name = "ex_" + $ex_num + "_items"
					$("form").children(".ex:last").children().each( function() {
						$(this).children(":first").attr('name', $(this).children(":first").attr('name').replace(/\d+/,$ex_num));
					});

					update_ex_select_listeners();

				});
			});

			function update_ex_select_listeners() {
				//add exercise-specific options when exercise type is selected
				$(".ex_type_select").off("change"); //avoid accumulating duplicate listeners
				$(".ex_type_select").on("change", function() { 

					//retrieve options for selected ex type
					$type = $(this).children(":selected").text();
					$options = $("#ex_type_options_prototypes").children("." + $type);

					//if their are no options found for this ex type, insert default instead
					if($options.length == 0) { 
						$options = $("#ex_select_prototype").children().children(".ex_type_options");
					} 
					$(this).parent().siblings(".ex_type_options").replaceWith($options.clone());

					//get exercise number by searching name attribute for first number
					$ex_num = /\d+/.exec($(this).attr("name"))[0];

					//modify name parameter for form elements in added options to reflect ex num
					$(this).parent().siblings(":last").children().each(function() {
						$(this).attr('name', $(this).attr('name').replace(/\d+/,$ex_num));
					});
				});
			}
		</script>
		<style>
			.button_hover {
				color:red;
				cursor:pointer;
			}
		</style>
	</head>
	<body>
		<form id="hideme" method="POST"> 
			<div>Exam/Worksheet Name: <input type="text" name="name"> </div>
			<div>Number of Exam Forms: 
				<select name="forms" />
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</div>
			<div id="first_ex">
			</div>
			<div id="addbutton">Add Exercise</div>
			<div>
				<input type="submit" name="Submit">
			</div>
		</form> 


		<div id="ex_select_prototype" style="visibility:hidden">
			<div class="ex">
				<div class="ex_type">
					Exercise Type:
					<select name="ex_1_type" class="ex_type_select">
						<option>select</option>
						<option>analysis-winchester</option>
						<option>intervals</option>
						<option>triads</option>
						<option>rhythms</option>
						<option>scales</option>
						<option>degrees</option>
					</select>
				</div>
				<div class="ex_items">
					<select name="ex_1_items">
						<% 50.times do |n| %>
							<option><%=n+1%></option>
						<% end %>
					</select>
					item(s)
				</div>
				<div class="ex_type_options default">
					<div name="ex_1_default">
					</div>
				</div>
			</div>
		</div>


		<div id="ex_type_options_prototypes" style="visibility:hidden">
			<div class="ex_type_options rhythms">
				<select name="ex_1_bars">
					<option>4</option>
					<option>8</option>
					<option>16</option>
				</select>
				bars
			</div>
			<div class="ex_type_options scales">
				<select name="ex_1_scale">
					<% scales = [
						"major", 
						"natural minor", 
						"melodic minor", 
						"harmonic minor", 
						"minor pentatonic",
						"major pentatonic",
						"blues"
					]
					scales.each do |scale| %>
						<option><%=scale%></option>
					<% end %>
				</select>
			</div>
		</div>
	</body>
</html>
